<div class="container">

    <div class="empty">
        <img src="/assets/img/burger.png" alt="chzburger" style="width:50%">
        <h1>Eat-da-Burger!</h1>
    </div>

    <div class="empty">

        <div class="empty form-group">
            <form class="empty create-form">
                <input type="text" id="burger" name="name" placeholder="What kind of burger would you like?"><br><br>
                <button class="submit">SUBMIT</button>
            </form>
        </div>

        <div class="full">

            <div class="full">
                <h2>"Not Devoured Yet"</h2>
                <br>
                <ul id="notDevoured">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{>burgers/burger-block devoured=0}}
                    {{/unless}}
                    {{/each}}
                </ul>

                <h2>Devoured!</h2>
                <br>
                <ul id="isDevoured">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{>burgers/burger-block devoured=1}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>

        </div>

    </div>


</div>