<li>
	{{burger_name}}

	{{#unless devoured}}
		<button class="updateBtn" data-id="{{id}}" data-devouredState="{{devoured}}">
			Devour Me!
		</button>
	{{/unless}}

	{{#if devoured}}
		<button class="delete" data-id="{{this.id}}">DELETE!</button>
	{{/if}}
</li>